<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Download Quick Files</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>

<body>
    <div class="row w-100 justify-content-start px-4 my-2">

        <a href="/logout"  style="width: 100px !important;" class="btn btn-sm btn-warning me-auto">Logout</a>
        <a href="/" style="width: 150px !important;"  class="btn btn-sm btn-warning">Go to Uploads >></a>
    </div>

        <h2 class="w-100 text-center">Download your content </h2>
        <hr>
        <div class="card-body w-100">
            <div class="card-group w-100">
            {% for file in files %}
                
                <div class="card overflow-hidden rounded m-2 p-2 shadow-lg bg-warning" style="min-width:260px !important;">
                  
                    <!-- <img src="{{file.file.url}}" width="" height="250px" class="card-img-top" alt="...">  -->
                    
                    <div class="shadow p-3 justify-content-evenly bg-warning m-2">
                        <h6 class="card-title">{{file.title |truncatechars:60}}</h6>
                        <a href="{{file.file.url}}" download="{{file.file.url}}" class="btn btn-primary">Download</a>
                    </div>
                  <div class="card-footer">
                    <small class="text-body-secondary">Last updated 3 mins ago</small> |
                    <small class="text-body-secondary">{{file.size}}</small>
                  </div>
                </div>
                {% endfor %}
            </div>
        </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
        crossorigin="anonymous"></script>
</body>

</html>